@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background */
.bg-primary-50 {
  background-color: #E6F0FF;
}

.bg-primary-300 {
  background-color: #589AFE;
}

.bg-primary-500 {
  background-color: #0568FD;
}

.bg-primary-700 {
  background-color: #044AB4;
}

.bg-primary-900 {
  background-color: #022C6A;
}

.bg-neutral-50 {
  background-color: #F6F7FC;
}

.bg-neutral-100 {
  background-color: #E8E8ED;
}

.bg-neutral-200 {
  background-color: #D2D2D6;
}

.bg-neutral-300 {
  background-color: #B6B6BA;
}

.bg-neutral-400 {
  background-color: #9D9DA1;
}

.bg-neutral-500 {
  background-color: #828285;
}

.bg-neutral-600 {
  background-color: #666669;
}

.bg-neutral-700 {
  background-color: #4D4D4F;
}

.bg-neutral-800 {
  background-color: #282829;
}

.bg-neutral-900 {
  background-color: #0C0C0D;
}

/* Text Color */
.c-primary-50 {
  color: #E6F0FF;
}

.c-primary-300 {
  color: #589AFE;
}

.c-primary-500 {
  color: #0568FD;
}

.c-primary-700 {
  color: #044AB4;
}

.c-primary-900 {
  color: #022C6A;
}

.c-neutral-50 {
  color: #F6F7FC;
}

.c-neutral-100 {
  color: #E8E8ED;
}

.c-neutral-200 {
  color: #D2D2D6;
}

.c-neutral-300 {
  color: #B6B6BA;
}

.c-neutral-400 {
  color: #9D9DA1;
}

.c-neutral-500 {
  color: #828285;
}

.c-neutral-600 {
  color: #666669;
}

.c-neutral-700 {
  color: #4D4D4F;
}

.c-neutral-800 {
  color: #282829;
}

.c-neutral-900 {
  color: #0C0C0D;
}
.c-shades-50{
  color: #FFFFFF;
}

/* Estilos para display */
.t-display-01-semibold {
  font-size: 4.5rem;
  line-height: 4.75rem;
  font-weight: 600;
}

.t-display-01-bold {
  font-size: 4.5rem;
  line-height: 4.75rem;
  font-weight: 700;
}

.t-display-02-semibold {
  font-size: 3.75rem;
  line-height: 4rem;
  font-weight: 600;
}

.t-display-02-bold {
  font-size: 3.75rem;
  line-height: 4rem;
  font-weight: 700;
}

/* Estilos para heading */
.t-heading-01-semibold {
  font-size: 2.875rem;
  line-height: 3.125rem;
  font-weight: 600;
}

.t-heading-01-bold {
  font-size: 2.875rem;
  line-height: 3.125rem;
  font-weight: 700;
}

.t-heading-02-semibold {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
}

.t-heading-02-bold {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

/* Estilos para body */
.t-body-01-regular {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.t-body-01-semibold {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
}

/* Estilos para caption */
.t-caption-regular {
  font-size: 0.625rem;
  line-height: 0.75rem;
  font-weight: 400;
}

.t-caption-semibold {
  font-size: 0.625rem;
  line-height: 0.75rem;
  font-weight: 600;
}

/* Estilos para footer */
.t-footer-regular {
  font-size: 0.625rem;
  line-height: 0.75rem;
  font-weight: 400;
}

.t-footer-semibold {
  font-size: 0.625rem;
  line-height: 0.75rem;
  font-weight: 600;
}